<%- include("templates/header") %>
    <h2>Oops! That page can't be found.</h2>
    <h5>Don't worry! Sometimes my cat gets lost too.</h5>
    <button onclick="location.href='/'">Go Back home</button>
    <%- include("templates/footer") %>