<title>Log in</title>

<h2>Log in</h2>
<form action='/loggingin' method='post'>
    <div style="margin-bottom: 10px;">
        Username: <input name='username' type='text' placeholder='username' required>
    </div>
    <div style="margin-bottom: 10px;">
        Password: <input name='password' type='password' placeholder='password' required>
    </div>
    <button>Log in</button>
</form>
<br>
<div><button onclick="window.history.back()">Go Back</button></div>
<% var message=message || '' ; %>
    <% if (message) { %>
        <p class="message">
            <%= message %>
        </p>
        <% } %>
            <%- include("templates/footer") %>