<%- include("templates/header", {scripts: ["https://code.jquery.com/jquery-3.6.3.js","/script.js"]}) %>
    <h1>Hello <%= username %>
            <% if (user_type=='admin' ) { %>
                <%= " (admin)" %>
                    <% } %>!</h1>
    <br>

    <button onclick="location.href='/logout'">Log out</button>
    <%- include("templates/footer") %>