<title>Group chats</title>

<%- include("templates/header", {scripts: ["https://code.jquery.com/jquery-3.6.3.js","/script.js"]}) %>

    <body>
        <h3>Hello <%= username %> !</h3>
        <h4>Your chats: </h4>
        <div id="chats">
            <p>Loading...</p>
    </body>

    <%- include("templates/footer") %>