<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/portal_styles.css">
</head>

<body>
    <div class="container">
        <h2>Sign up</h2>

        <form action='/submitUser' method='post'>
            <div class="form-field">
                <label for="username">Username:</label>
                <input id="username" name="username" type="text" placeholder="username" required maxlength="24">
            </div>

            <div class="form-field">
                <label for="password">Password:</label>
                <input id="password" name="password" type="password" placeholder="password" required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{10,}$"
                    title="Password must be at least 10 characters long and include at least one uppercase letter, one lowercase letter, one number, and one special character">
            </div>

            <button type="submit">Submit</button>
        </form>

        <div style="margin-top: 10px;">
            <button onclick="window.history.back()">Go Back</button>
        </div>

        <% var message=message || '' ; %>
            <% if (message) { %>
                <p class="message">
                    <%= message %>
                </p>
                <% } %>

                    <div class="footer">
                        <%- include("templates/footer") %>
                    </div>
    </div>
</body>

</html>