<div class="emoji-wrapper">
    <% if (message.emoji_list && message.emoji_list.length> 0) { %>
        <%= message.emoji_list %>
            <% } %>
                <div class="emoji-button-container">
                    <button class="unstyled">➕</button>
                    <div class="emoji-menu" id="<%= message.message_id %>">
                        <form action="/add-reaction" method="POST" style="  margin-bottom: 5px;">
                            <input type="hidden" name="room_id" value="<%= room_id %>" />
                            <input type="hidden" name="message_id" value="<%= message.message_id %>">
                            <button type="submit" name="emoji" value="1" class="emoji-option">👍</button>
                            <button type="submit" name="emoji" value="2" class="emoji-option">❤️</button>
                            <button type="submit" name="emoji" value="3" class="emoji-option">😂</button>
                            <button type="submit" name="emoji" value="4" class="emoji-option">😮</button>
                            <button type="submit" name="emoji" value="5" class="emoji-option">😢</button>
                        </form>
                    </div>
                </div>
</div>