<!-- Only for logged in pages  -->
<header style="display: flex; justify-content: space-between; align-items: center; height: 30px; border-bottom: 2px solid #ccc;">
    <p>
        <%= username %>'s chat
    </p>
    <button onclick="location.href='/logout'">Log out</button>
</header>