#chatsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 16px;
}

#chatsTable th,
#chatsTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#chatsTable th {
    background-color: #1191f9;
    color: white;
    font-weight: bold;
}

#chatsTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#chatsTable tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

.room-name {
    font-weight: bold;
    color: #007BFF;
}

#chatMessages {
    overflow-y: auto;
    max-height: 500px;
    padding-right: 10px;
}

.message-item {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f1f1f1;
}

.user-message {
    background-color: #dcf8c6;
    text-align: right;
}

.other-message {
    background-color: #c6e6f8;
}

.message-header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 5px;
}

.username {
    font-weight: bold;
    font-size: 14px;
}

.timestamp {
    color: #888;
}

.message-text {
    font-size: 16px;
    line-height: 1.5;
}